@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

/* MAIN PAGE STYLING */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-family: "Space Mono", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif; */
}

/* 1em = 16px */

#main,
body {
  background-color: #151515;
  padding: 0;
  margin: 0;
  background-attachment: fixed;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 75%, #151515 100%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, #151515 100%),
    url(/images/jedi-order-emblem.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* container */
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  gap: 0.5em;
}

/* Copyright text */
footer {
  font-size: 8px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

#footer {
  color: #fff;
}

/* GAME TITLE STYLING */
/* item */
.title {
  color: #ffe81f;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  text-align: center;
  /* width: 800px;
  max-width: 80%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #5ebff7; */
}

.title h1 {
  text-shadow: 0 0 2px #5ebff7;
}

/* STORY */
/* item */
.story-environment {
  width: 800px;
  max-width: 90%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.story-environment img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

/* item */
.story {
  width: 800px;
  max-width: 90%;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px #fff;
  background: rgba(0, 0, 0, 0.45);
  font-family: "Space Mono";
}

#story-text {
  color: #fff;
}

/* BUTTONS */
.button-layout {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin-top: 20px;
}

.button {
  background-color: #5ebff7;
  border: 1px solid #606060;
  border-radius: 15px;
  padding: 5px 10px;
  color: #fff;
  font-family: "Space Mono";
  /* outline: none; */
}

.button:hover {
  box-shadow: 0 0 10px #daf1ff;
}

.button:active {
  background-color: #8fd6ff;
}
